/* 
--Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
--Whitespace Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
--Font weights
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700 
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: 'Inter', sans-serif;
  padding: 2.4rem 3.2rem;
}
/* ? Navigation */
.navigation {
  display: flex;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
}
.navigation a, navigation a:visited {
  text-decoration: none;
  color: #000;
}
.navigation a.active {
  font-weight: 600;
}
/* ? APOD Tab */
.apod-container {
  margin-top: 1.6rem;
  display: flex;
  gap: 2rem;
  height: 75vh;
}
.apod-list {
  font-size: 1.4rem;
  height: 100%;
  overflow-y: auto;
}
apod-detail {
  padding: 1.2rem 0.8rem;
  font-size: 1.6rem;
}
.apod-card {
  border: 1px solid #000;
  margin-bottom: 0.8rem;
  padding: 1.2rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}
.apod-card-title {
  font-weight: 600;
}
.apod-card.active .apod-card-title {
  color: blue;
}
apod-detail {
  border: 1px solid #000;
  width: 100%;
}
.apod-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
.apod-img {
  width: 100%;
  object-fit: cover;
}
.apod-info-title {
  font-weight: 600;
}
.apod-info-copyright {
  font-style: italic;
  margin-bottom: 1rem;
}